[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
