[submodule "dependencies/DirectX-Headers"]
	path = dependencies/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
